.reservas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 12rem 9%;
}

.reservas .imagen {
    width: 55%;
    background: url(../images/book-a-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 9rem;
}

.reservas .form {
    background: #181818;
    width: 45%;
    padding: 9rem 7%;
}

.reservas .form h1 {
    color: #fff;
}

.reservas .form-holder {
    display: flex;
    grid-gap: 3rem;
    width: 100%;
}

.reservas .form form input,
.reservas .form form select {
    display: block;
    margin: 2rem 0;
    width: 100%;
    background: none;
    border-bottom: .1rem solid #b7b3b3;
    color: #b7b3b3;
    font-size: 1.8rem;
    font-weight: 300;
}

.reservas .form form input:placeholder {
    color: #b7b3b3;
}

#map {
    height: 500px;
    width: 100%;
}